* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 37.5px;
    width: 100%;
    height: 60px;
}

#nav-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5px;
}

.circle {
    width: 16.5px;
    height: 16.5px;
    background-color: black;
    border-radius: 50%;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37.5px;
}

#nav-part2 h4 {
    font-size: 12px;
    font-weight: 600;
}

#nav-part2 h4 span {
    color: rgb(126, 126, 126);
    margin-left: 18.75px;
}

#nav-part2 h5 {
    display: none;
}

#nav2 {
    display: flex;
    align-items: center;
    gap: 75px;
    width: 100%;
    height: 52.5px;
    padding: 0 37.5px;
}

#nav2 h3 {
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: 600;
}

#content {
    width: 100%;
    height: calc(100% - 112.5px);
}

#text-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    height: 40%;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5.25px;
}

#text-content::-webkit-scrollbar-thumb {
    background-color: orangered;
}

.elem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60%;
    height: 100%;
}

.elem h1 {
    font-size: 7vw;
    font-weight: 300;
}

#image-content {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 60%;
}

#image-content::-webkit-scrollbar {
    display: none;
}

#image-content img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    #nav {
        padding: 0 25px;
        height: 70px;
    }

    #nav-part1 {
        gap: 0px;
    }
    
    .circle {
        width: 16px;
        height: 16px;
    }

    #nav-part2 {
        align-items: center;
        gap: 30px;
    }
    
    #nav-part2 h4 {
        display: none;
        font-size: 15px;
    }
    
    #nav-part2 h4 span {
        margin-left: 10px;
    }

    #nav-part2 h4:nth-child(1) {
        display: initial;
        margin-right: 15px;
    }

    #nav-part2 h5 {
        display: initial;
    }

    #nav-part2 h5 i {
        font-size: 20px;
        font-weight: 700;
    }

    #nav2 {
        height: 70px;
        justify-content: space-between;
        gap: 10px;
        height: 55px;
        padding: 0 25px;
    }
    
    #nav2 h3 {
        font-size: 2.5vw;
        font-weight: 600;
        color: #6a6a6a;
    }
    
    #content {
        height: calc(100% - 140px);
    }

    #text-content {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        height: 35%;
    }

    #text-content::-webkit-scrollbar{
        background-color: transparent;
        height: 5px;
    }

    #text-content::-webkit-scrollbar-thumb {
        background-color: orangered;
    }

    .elem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: fit-content;
        height: 100%;
        margin-right: 20px;
    }

    .elem h1 {
        font-size: 24vw;
        font-weight: 300;
        white-space: nowrap;
    }

    #image-content {
        display: flex;
        overflow-x: auto;
        width: 100%;
        height: 65%;
    }

    #image-content::-webkit-scrollbar {
        display: none;
    }

    #image-content img {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    #image-content img:nth-child(3) {
        object-position: left;
    }
}
